<app-kubernetes-components-list name="ResourceQuotas" (filter)="load($event)" [values]="values" [loading]="loading">
  <ng-template #header>
    <tr>
      <th>Namespace</th>
      <th>Name</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-resourceQuota>
    <tr>
      <td>{{resourceQuota.namespace}}</td>
      <td>{{resourceQuota.name}}</td>
      <td>{{resourceQuota.age}}</td>
      <td>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item
             [routerLink]="['/kubernetes/resource-quotas/detail']"
             [queryParams]="{name: resourceQuota.name, namespace: resourceQuota.namespace}">
            <mat-icon>visibility</mat-icon>
            <span>Detail</span>
          </a>
          <a mat-menu-item>
            <mat-icon>mode_edit</mat-icon>
            <span>Edit</span>
          </a>
          <a mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </a>
        </mat-menu>
      </td>
    </tr>
  </ng-template>
</app-kubernetes-components-list>
