<app-kubernetes-components-list name="Pods" (filter)="load($event)" [values]="values" [loading]="loading">
  <ng-template #header>
    <tr>
      <th>Namespace</th>
      <th>Name</th>
      <th>Containers</th>
      <th>Restarts</th>
      <th>Node</th>
      <th>QoS</th>
      <th>Age</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-pod>
    <tr>
      <td>{{pod.namespace}}</td>
      <td>{{pod.name}}</td>
      <td>
        <mat-chip-listbox aria-label="containers" [selectable]="false">
          <mat-chip-option *ngFor="let container of pod.containers"
                           [title]="container.status + '\n' + (container.reason || '')"
                           highlighted
                           [color]="pod.status | podSeverity">
            {{container.name}}
          </mat-chip-option>
        </mat-chip-listbox>
      </td>
      <td>{{pod.restarts}}</td>
      <td>{{pod.nodeName}}</td>
      <td>{{pod.qosClass}}</td>
      <td>{{pod.age}}</td>
      <td>
        <mat-chip-listbox aria-label="status" [selectable]="false">
          <mat-chip-option [color]="pod.status | podSeverity" highlighted>
            {{pod.status}}
          </mat-chip-option>
        </mat-chip-listbox>
      </td>
      <td>
        <app-kubernetes-components-action
          [object]="pod"
          [link]="'/kubernetes/pods/detail'"
          [crudService]="crudService">
          <a mat-menu-item (click)="openTerminal(pod)">
            <mat-icon>terminal</mat-icon>
            <span>Terminal</span>
          </a>
        </app-kubernetes-components-action>
      </td>
    </tr>
  </ng-template>
</app-kubernetes-components-list>
