<!-- Flippable card -->
<ng-container *ngIf="flippable">

    <!-- Front -->
    <div class="fluyt-card-front">
        <ng-content select="[fluytCardFront]"></ng-content>
    </div>

    <!-- Back -->
    <div class="fluyt-card-back">
        <ng-content select="[fluytCardBack]"></ng-content>
    </div>

</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">

    <!-- Content -->
    <ng-content></ng-content>

    <!-- Expansion -->
    <div
        class="fluyt-card-expansion"
        *ngIf="expanded"
        [@expandCollapse]>
        <ng-content select="[fluytCardExpansion]"></ng-content>
    </div>

</ng-container>
