<app-kubernetes-components-list name="CronJobs" (filter)="load($event)" [values]="values" [loading]="loading">
  <ng-template #header>
    <tr>
      <th>Namespace</th>
      <th>Name</th>
      <th>Schedule</th>
      <th>Suspend</th>
      <th>Active</th>
      <th>Last Schedule</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-cronJob>
    <tr>
      <td>{{cronJob.namespace}}</td>
      <td>{{cronJob.name}}</td>
      <td>{{cronJob.schedule}}</td>
      <td>{{cronJob.suspend?.toString()}}</td>
      <td>{{cronJob.active}}</td>
      <td>{{cronJob.lastSchedule}}</td>
      <td>{{cronJob.age}}</td>
      <td>
        <app-kubernetes-components-action
          [object]="cronJob"
          [link]="'/kubernetes/cron-jobs/detail'"
          [crudService]="crudService"></app-kubernetes-components-action>
      </td>
    </tr>
  </ng-template>
</app-kubernetes-components-list>
