<app-kubernetes-components-list name="ServiceAccounts" (filter)="load($event)" [values]="values" [loading]="loading">
  <ng-template #header>
    <tr>
      <th>Namespace</th>
      <th>Name</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-serviceAccount>
    <tr>
      <td>{{serviceAccount.namespace}}</td>
      <td>{{serviceAccount.name}}</td>
      <td>{{serviceAccount.age}}</td>
      <td>
        <app-kubernetes-components-action
          [object]="serviceAccount"
          [link]="'/kubernetes/service-accounts/detail'"
          [crudService]="crudService">
        </app-kubernetes-components-action>
      </td>
    </tr>
  </ng-template>
</app-kubernetes-components-list>
