<app-kubernetes-components-list name="Jobs" (filter)="load($event)" [values]="values" [loading]="loading">
  <ng-template #header>
    <tr>
      <th>Namespace</th>
      <th>Name</th>
      <th>Active</th>
      <th>Failed</th>
      <th>Ready</th>
      <th>Succeeded</th>
      <th>Conditions</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-job>
    <tr>
      <td>{{job.namespace}}</td>
      <td>{{job.name}}</td>
      <td>{{job.active}}</td>
      <td>{{job.failed}}</td>
      <td>{{job.ready}}</td>
      <td>{{job.succeeded}}</td>
      <td>{{job.conditions?.join(',')}}</td>
      <td>{{job.age}}</td>
      <td>
        <app-kubernetes-components-action
          [object]="job"
          [link]="'/kubernetes/jobs/detail'"
          [crudService]="crudService">
        </app-kubernetes-components-action>
      </td>
    </tr>
  </ng-template>
</app-kubernetes-components-list>
