<app-kubernetes-components-list name="DaemonSets" (filter)="load($event)" [values]="values" [loading]="loading">
  <ng-template #header>
    <tr>
      <th>Namespace</th>
      <th>Name</th>
      <th>Pods</th>
      <th>Node Selector</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-daemonSet>
    <tr>
      <td>{{daemonSet.namespace}}</td>
      <td>{{daemonSet.name}}</td>
      <td>{{daemonSet.pods}}</td>
      <td>
        <mat-chip-listbox aria-label="labels" [selectable]="false">
          <mat-chip-option *ngFor="let selector of daemonSet.nodeSelector | keyvalue">
            {{selector.key}} : {{selector.value}}
          </mat-chip-option>
        </mat-chip-listbox>
      </td>
      <td>{{daemonSet.age}}</td>
      <td>
        <app-kubernetes-components-action
          [object]="daemonSet"
          [link]="'/kubernetes/daemon-sets/detail'"
          [crudService]="crudService">
        </app-kubernetes-components-action>
      </td>
    </tr>
  </ng-template>
</app-kubernetes-components-list>
