<app-kubernetes-components-list name="Ingresses" (filter)="load($event)" [values]="values" [loading]="loading">
  <ng-template #header>
    <tr>
      <th>Namespace</th>
      <th>Name</th>
      <th>LoadBalancers</th>
      <th>Rules</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-ingress>
    <tr>
      <td>{{ingress.namespace}}</td>
      <td>{{ingress.name}}</td>
      <td>
        <mat-chip-listbox aria-label="loadBalancers" [selectable]="false">
          <mat-chip-option *ngFor="let loadBalancer of ingress.loadBalancers">
            {{loadBalancer}}
          </mat-chip-option>
        </mat-chip-listbox>
      </td>
      <td>
        <mat-chip-listbox aria-label="rules" [selectable]="false">
          <mat-chip-option *ngFor="let rule of ingress.rules">
            {{rule}}
          </mat-chip-option>
        </mat-chip-listbox>
      </td>
      <td>{{ingress.age}}</td>
      <td>
        <app-kubernetes-components-action
          [object]="ingress"
          [link]="'/kubernetes/ingresses/detail'"
          [crudService]="crudService">
        </app-kubernetes-components-action>
      </td>
    </tr>
  </ng-template>
</app-kubernetes-components-list>
