<div class="container-fluid">
  <app-loader [show]="display">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel [hideToggle]="true" [expanded]="true">
        <mat-expansion-panel-header>
          <div class="fc-form">
            <div class="fc-form-actions-container">
              <mat-panel-title>
                General
              </mat-panel-title>
              <button mat-raised-button routerLink="/kubernetes/cluster-role-bindings">Back</button>
            </div>
          </div>
        </mat-expansion-panel-header>
        <div class="fc-form">
          <app-form-container label="Created"
                              [value]="value?.metadata?.creationTimestamp | date">
          </app-form-container>

          <app-form-multiple-container>
            <app-form-container label="Name"
                                [value]="value?.metadata?.name">
            </app-form-container>

            <app-form-container label="Namespace"
                                [value]="value?.metadata?.namespace">
            </app-form-container>
          </app-form-multiple-container>

          <app-form-container label="Annotations" [labelAbove]="true">
            <mat-chip-listbox aria-label="annotations" [selectable]="false">
              <mat-chip-option *ngFor="let annotation of value?.metadata?.annotations | keyvalue">
                {{annotation.key}} : {{annotation.value}}
              </mat-chip-option>
            </mat-chip-listbox>
            <span *ngIf="!value?.metadata?.annotations">None</span>
          </app-form-container>

          <app-form-container label="Labels" [labelAbove]="true">
            <mat-chip-listbox aria-label="labels" [selectable]="false">
              <mat-chip-option *ngFor="let label of value?.metadata?.labels | keyvalue">
                {{label.key}} : {{label.value}}
              </mat-chip-option>
            </mat-chip-listbox>
            <span *ngIf="!value?.metadata?.labels">None</span>
          </app-form-container>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          Reference
        </mat-expansion-panel-header>
        <div class="fc-form">
          <app-form-container label="Name"
                              [value]="value?.roleRef?.name">
          </app-form-container>

          <app-form-container label="Kind"
                              [value]="value?.roleRef?.kind">
          </app-form-container>

          <app-form-container label="Api Group"
                              [value]="value?.roleRef?.apiGroup">
          </app-form-container>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          Bindings
        </mat-expansion-panel-header>
        <div class="fc-form">
          <app-form-container label="Bindings" [labelAbove]="true">
            <p-table [value]="value?.subjects">
              <ng-template pTemplate="header">
                <tr>
                  <th>Name</th>
                  <th>Namespace</th>
                  <th>Kind</th>
                  <th>Api Group</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-object>
                <tr>
                  <td>{{object.name}}</td>
                  <td>{{object.namespace}}</td>
                  <td>{{object.kind}}</td>
                  <td>{{object.apiGroup}}</td>
                </tr>
              </ng-template>
            </p-table>
          </app-form-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </app-loader>
</div>
