<app-kubernetes-components-list (filter)="load($event)" [loading]="loading" [values]="values" name="Services">
  <ng-template #header>
    <tr>
      <th>Namespace</th>
      <th>Name</th>
      <th>Type</th>
      <th>Cluster IP</th>
      <th>Ports</th>
      <th>External IPs</th>
      <th>Selectors</th>
      <th>Age</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-service>
    <tr>
      <td>{{service.namespace}}</td>
      <td>{{service.name}}</td>
      <td>{{service.type}}</td>
      <td>{{service.clusterIp}}</td>
      <td>{{service.ports?.join(', ')}}</td>
      <td>{{service.externalIps?.join(', ')}}</td>
      <td>{{service.selectors?.join(', ')}}</td>
      <td>{{service.age}}</td>
      <td>{{service.status}}</td>
      <td>
        <app-kubernetes-components-action
          [object]="service"
          [link]="'/kubernetes/services/detail'"
          [crudService]="crudService">
        </app-kubernetes-components-action>
      </td>
    </tr>
  </ng-template>
</app-kubernetes-components-list>
