<div class="container">
  <app-loader [show]="display">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel [hideToggle]="true" [expanded]="true">
        <mat-expansion-panel-header>
          <div class="fc-form">
            <div class="fc-form-actions-container">
              <mat-panel-title>
                General
              </mat-panel-title>
              <button mat-raised-button routerLink="/kubernetes/persistent-volumes">Back</button>
            </div>
          </div>
        </mat-expansion-panel-header>
        <div class="fc-form">
          <app-form-container label="Created"
                              [value]="value?.metadata?.creationTimestamp | date">
          </app-form-container>

          <app-form-container label="Name"
                              [value]="value?.metadata?.name">
          </app-form-container>

          <app-form-container label="Annotations" [labelAbove]="true">
            <mat-chip-listbox aria-label="annotations" [selectable]="false">
              <mat-chip-option *ngFor="let annotation of value?.metadata?.annotations | keyvalue">
                {{annotation.key}} : {{annotation.value}}
              </mat-chip-option>
            </mat-chip-listbox>
            <span *ngIf="!value?.metadata?.annotations">None</span>
          </app-form-container>

          <app-form-container label="Labels" [labelAbove]="true">
            <mat-chip-listbox aria-label="labels" [selectable]="false">
              <mat-chip-option *ngFor="let label of value?.metadata?.labels | keyvalue">
                {{label.key}} : {{label.value}}
              </mat-chip-option>
            </mat-chip-listbox>
            <span *ngIf="!value?.metadata?.labels">None</span>
          </app-form-container>

          <app-form-multiple-container>
            <app-form-container label="Finalizers" [labelAbove]="true">
              <mat-chip-listbox aria-label="finalizers" [selectable]="false">
                <mat-chip-option *ngFor="let finalizer of value?.metadata?.finalizers">
                  {{finalizer}}
                </mat-chip-option>
              </mat-chip-listbox>
              <span *ngIf="!value?.metadata?.finalizers">None</span>
            </app-form-container>

            <app-form-container label="Access Modes" [labelAbove]="true">
              <mat-chip-listbox aria-label="access modes" [selectable]="false">
                <mat-chip-option *ngFor="let accessMode of value?.spec?.accessModes">
                  {{accessMode}}
                </mat-chip-option>
              </mat-chip-listbox>
              <span *ngIf="!value?.spec?.accessModes">None</span>
            </app-form-container>
          </app-form-multiple-container>

          <app-form-multiple-container>
            <app-form-container label="Capacity"
                                [value]="value?.spec?.capacity?.storage?.number | bytes: 'disc'">
            </app-form-container>

            <app-form-container label="Reclaim Policy"
                                [value]="value?.spec?.persistentVolumeReclaimPolicy">
            </app-form-container>
          </app-form-multiple-container>

          <app-form-multiple-container>
            <app-form-container label="Storage Class Name"
                                [value]="value?.spec?.storageClassName">
            </app-form-container>

            <app-form-container label="Status"
                                [value]="value?.status?.phase">
            </app-form-container>
          </app-form-multiple-container>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          Claim
        </mat-expansion-panel-header>
        <div class="fc-form">
          <app-form-container label="Kind"
                              [value]="value?.spec?.claimRef?.kind">
          </app-form-container>

          <app-form-container label="Name"
                              [value]="value?.spec?.claimRef?.name">
          </app-form-container>

          <app-form-container label="Namespace"
                              [value]="value?.spec?.claimRef?.namespace">
          </app-form-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </app-loader>
</div>
