<app-kubernetes-components-list name="Secrets" (filter)="load($event)" [values]="values" [loading]="loading">
  <ng-template #header>
    <tr>
      <th>Namespace</th>
      <th>Name</th>
      <th>Keys</th>
      <th>Type</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-secret>
    <tr>
      <td>{{secret.namespace}}</td>
      <td>{{secret.name}}</td>
      <td>{{secret.keys}}</td>
      <td>{{secret.type}}</td>
      <td>{{secret.age}}</td>
      <td>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item
             [routerLink]="['/kubernetes/secrets/detail']"
             [queryParams]="{name: secret.name, namespace: secret.namespace}">
            <mat-icon>visibility</mat-icon>
            <span>Detail</span>
          </a>
          <a mat-menu-item>
            <mat-icon>mode_edit</mat-icon>
            <span>Edit</span>
          </a>
          <a mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </a>
        </mat-menu>
      </td>
    </tr>
  </ng-template>
</app-kubernetes-components-list>
