<div class="flex-1 min-w-0">
  <!-- Breadcrumbs -->
  <div class="flex flex-wrap items-center font-medium">
      <div>
          <a class="whitespace-nowrap text-primary-500">Documentation</a>
      </div>
      <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon
              class="icon-size-5 text-secondary"
              [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">Guides</a>
      </div>
      <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon
              class="icon-size-5 text-secondary"
              [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <span class="ml-1 text-secondary">Getting Started</span>
      </div>
  </div>
  <!-- Title -->
  <div class="mt-2">
      <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          Installation
      </h2>
  </div>
</div>