<app-kubernetes-components-list name="Deployments" (filter)="load($event)" [values]="values" [loading]="loading">
  <ng-template #header>
    <tr>
      <th>Namespace</th>
      <th>Name</th>
      <th>Pods</th>
      <th>Replicas</th>
      <th>Age</th>
      <th>Conditions</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-deployment>
    <tr>
      <td>{{deployment.namespace}}</td>
      <td>{{deployment.name}}</td>
      <td>{{deployment.current}} / {{deployment.desired}}</td>
      <td>{{deployment.replicas}}</td>
      <td>{{deployment.age}}</td>
      <td>
        <p-tag *ngFor="let condition of deployment.conditions"
               [value]="condition.type"
               [severity]="condition.type | deploymentCondition"
               [rounded]="true"></p-tag>
      </td>
      <td>
        <app-kubernetes-components-action
          [object]="deployment"
          [link]="'/kubernetes/deployments/detail'"
          [crudService]="crudService">
        </app-kubernetes-components-action>
      </td>
    </tr>
  </ng-template>
</app-kubernetes-components-list>
