<app-kubernetes-components-list name="StatefulSets" (filter)="load($event)" [values]="values" [loading]="loading">
  <ng-template #header>
    <tr>
      <th>Namespace</th>
      <th>Name</th>
      <th>Pods</th>
      <th>Replicas</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-statefulSet>
    <tr>
      <td>{{statefulSet.namespace}}</td>
      <td>{{statefulSet.name}}</td>
      <td>{{statefulSet.pods}}</td>
      <td>{{statefulSet.replicas}}</td>
      <td>{{statefulSet.age}}</td>
      <td>
        <app-kubernetes-components-action
          [object]="statefulSet"
          [link]="'/kubernetes/stateful-sets/detail'"
          [crudService]="crudService">
        </app-kubernetes-components-action>
      </td>
    </tr>
  </ng-template>
</app-kubernetes-components-list>
