<app-kubernetes-components-list name="ReplicaSets" (filter)="load($event)" [values]="values" [loading]="loading">
  <ng-template #header>
    <tr>
      <th>Namespace</th>
      <th>Name</th>
      <th>Desired</th>
      <th>Current</th>
      <th>Ready</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template #body let-replicaSet>
    <tr>
      <td>{{replicaSet.namespace}}</td>
      <td>{{replicaSet.name}}</td>
      <td>{{replicaSet.desired}}</td>
      <td>{{replicaSet.current}}</td>
      <td>{{replicaSet.ready}}</td>
      <td>{{replicaSet.age}}</td>
      <td>
        <app-kubernetes-components-action
          [object]="replicaSet"
          [link]="'/kubernetes/replica-sets/detail'"
          [crudService]="crudService">
        </app-kubernetes-components-action>
      </td>
    </tr>
  </ng-template>
</app-kubernetes-components-list>
