<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <a mat-menu-item
     [routerLink]="[link]"
     [queryParams]="{name: object.name, namespace: object.namespace, cluster: clusterId}">
    <mat-icon>visibility</mat-icon>
    <span>Detail</span>
  </a>
  <a (click)="edit()" mat-menu-item>
    <mat-icon>mode_edit</mat-icon>
    <span>Edit</span>
  </a>
  <a mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </a>
  <ng-content></ng-content>
</mat-menu>
